<div class="container m-5">
  <h1 class="col-md-6 mx-auto p-2 text-center">My Todo App</h1>
  <div id="todo-container" class="col-md-6 mx-auto border border-secondary p-2">
    <form #todoForm= "ngForm" class="row" (submit)="todoSubmit(todoForm.value.todoInput); todoForm.resetForm()">     
      <div class="col-md-9">
        <label for="todoInput" class="visually-hidden">Todo</label>
        <input type="text" class="form-control" id="todoInput" placeholder="Enter the todo..." name="todoInput" ngModel>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary mb-3">Add Todo</button>
      </div>
    </form>
      <ul class="col-md-12 lists list-group">
        <li *ngFor="let todo of todoArray" contenteditable="true" class="list-group-item d-flex justify-content-between align-items-start">{{todo}}<span contenteditable="false" class="btn btn-danger" (click)="deleteItem(todo)"><i class="fas fa-trash"></i></span></li>
      </ul>
  </div>
</div>